@import "styles/mixins";

.note {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--box-color);

  &_header {
    margin-bottom: 10px;
  }
  &_text {
    text-align: justify;
    line-height: 1.5;
  }
  &_footer {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
  }
  &_buttons {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 0;
    right: 0;
    padding: inherit;
  }
}
.edit,
.delete {
  height: 30px;
  @include button;
}

.clear {
  @include button;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: inherit;
  padding-top: inherit;
  &:hover {
    background: none;
    color: var(--red-color);
  }
}

.delete {
  background-color: var(--red-color) !important;
  &:hover {
    background-color: var(--red-color-dark) !important;
  }
}
