@import "styles/mixins";

.title {
  margin-bottom: 10px;
}
.text {
  text-align: justify;
  line-height: 1.5;
}
.footer {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.buttons {
  display: flex;
  gap: 5px;
  position: absolute;
  top: 0;
  right: 0;
  padding: inherit;
}

.edit,
.delete {
  height: 30px;
  @include button;
}

.delete {
  background-color: var(--red-color) !important;
  &:hover {
    background-color: var(--red-color-dark) !important;
  }
}
