:root {
  --bg-color: #131313;
  --box-color: #1b1b1b;
  --text-color: #ededed;
  --input-color: #262626;
  --main-color: rgba(0, 158, 172, 1);
  --main-color-dark: rgba(0, 158, 172, 0.8);
  --red-color: rgb(255, 50, 52);
  --red-color-dark: #ff181c;
  --green-color: #00ad4b;
}
